{%extends  'main.html'%}

{%block content%}
<h1>hello {{request.user.client.first_name}} {{request.user.client.last_name}} </h1>
<h2>your balancse is {{total}} $</h2>
<h2>your transactions :</h2>
<ul class="list-group list-group-flush">
    {%for transaction in transactions%}
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div>
         <div class="fw-bold">{{transaction.title}} - {{transaction.created}} </div>
          {%if transaction.transferTo == request.user.client %}
          
          from:{{transaction.transferFrom}}
  
          {%else%}
            to:{{transaction.transferTo}}
            
          {%endif%}
       </div>
       {% if transaction.transferTo == request.user.client%}
         <span class="badge bg-success rounded-pill">{{transaction.amount}}$</span>
      
        {%else%}
          <span class="badge bg-danger rounded-pill">-{{transaction.amount}}$</span>
        {%endif%}
    </li>
    {%endfor%}
  
  </ul>
    

{%endblock%}